nav {
  background-color: #282c34;
}
#R {
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 191, 0);
  font-family: "Raleway", sans-serif;
}
#nav {
  display: flex;
  justify-content: flex-end;
}
ul .nav-link {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 191, 0);
  margin-left: 10px;
}
ul .nav-link:hover {
  text-decoration: underline;
  color: rgb(255, 191, 0);
}
#bg1 {
  background-image: url(https://cdn.onesearch.com/lo/api/res/1.2/FyJq6dfHPVtPDgeAwj9Pjg--~B/YXBwaWQ9eWlzZWFyY2g7Zmk9Zml0O2dlPTAwNjYwMDtncz0wMEEzMDA7aD0zMDA7dz00MDA-/https://cdn.dribbble.com/users/707385/screenshots/5472252/19_3_1.gif.cf.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
#bg2 {
  background-color: whitesmoke;
}
#first {
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
#second {
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
h1 {
  font-family: "Raleway", sans-serif;
}
/*hamburger*/
#bars {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 191, 0);
  transition: 0.6s;
  transform: rotate(0deg);
}
#bars:hover {
  transition: 0.6s;
  transform: rotate(90deg);
}
#main {
  width: 35ich;
  animation: open 5s, blink 1.5s infinite;
  white-space: wrap;
  background-color: #2a3344;
  color: rgb(255, 191, 0);
  padding-top: 6rem;
}
#bg {
  background-color: #2a3344;
}
/*opening*/
@keyframes open {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.butt {
  box-shadow: 5px 5px 5px black;
}
#firstc {
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
}
.ft {
  font-size: 2em;
}
#a:hover {
  transition: 0.3s;
  color: rgb(219, 20, 219);
}
li,
h2 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}
form {
  border-radius: 20px;
}
/*Letter-spacing for welcome*/
#typo {
  white-space: nowrap;
}
@media (min-width:768px) {
#typo:hover {
    animation: wide 1.5s ease 2;
  }
}
@keyframes wide {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0px;
  }
}
#img {
  border-radius: 300px;
  border: 20px groove rgb(255, 191, 0);
  box-shadow: 5px 10px 5px black;
}
#img:hover {
  transition: 1s ease;
  width: 350px;
  height: 350px;
}
.links {
  display: flex;
  justify-content: space-around;
}
.link {
  font-size: 30px;
  font-weight: bold;
}
#cardef {
  box-shadow: 0px 5px 5px black;
  padding: 30px;
}
#cardef:hover {
  padding: 0px;
  box-shadow: 0px 5px 5px rgb(255, 191, 0);
}
.scrollTop {
  color:darkslategrey;
  font-size: 5rem;
  position: fixed; 
  bottom: 18%;
  right: 2%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 1;
  animation: bounce 0.8s alternate infinite;
}
@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
  }
.pro-bars li{
  list-style:none;
  margin-left: -2rem;
}

.page-title{
  margin-top: 5rem;
}